


.burger__button {
    background-color: transparent;
    background-image: url(./images/icon_menu.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    left: 20px;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: opacity .4s ease-in-out;
}

.burger__button:hover {
    opacity: 0.7;
}


/* о колекции */




.description__text {
    margin: 0;
    max-width: 690px;
    padding: 80px 20px 80px 0;
    justify-self: end;
    font-family: Golos;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.discipline {
    padding: 80px 0 80px 0;

}

.discipline__text {
    max-width: 695px;
    padding: 0 20px 80px 725px;
    font-family: Golos;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.discipline__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 810px;
}

.footer {
    padding: 80px 20px 80px 20px;
}

.footer__title {
    text-transform: uppercase;
    margin: 0;
    font-family: Golos;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
}

.footer__text {
    margin: 0;
    padding: 40px 0 40px 0;
    font-family: Golos;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

/* добавить стилизацию форм */


.footer__button {
    border: 1px solid #FFF;
    background-color: #0A0A0A;
    border-radius: 100px;
    width: 170px;
    height: 40px;
    color: #FFF;
    font-family: Golos;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity .4s ease-in-out;
}
.footer__button:hover {
    opacity: .7;
}


















.slider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: blue;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    height: 200px;
}

.slider__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.slider::-webkit-scrollbar {
    width: 12px;
    height: 4px;
    /* ширина scrollbar */
}

.slider::-webkit-scrollbar-track {
    background: #292929;
    /* цвет дорожки */
}

.slider::-webkit-scrollbar-thumb {
    background-color: #EBEBEB;
    /* цвет плашки */
    border-radius: 100px;
    /* закругления плашки */
}

.scroll__button_left {
    position: sticky;
    top: 25%;
    left: 5%;
    z-index: 2;
}

.scroll__button_right {
    position: absolute;
    top: 25%;
    right: 5%;
    z-index: 2;
}