.header__title {
    margin: 0;
    width: 460px;
    font-family: $fontFamily;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: $bgColor;
    padding: 208px 0 0 20px;
}