.burger__list {
    margin: 0;
    padding: 265px 20px 0 20px;
    list-style-type: none;
    background-color: $bgColor;
    color: $textColor;
}
@media screen and (max-width: 1439px) {
    .burger__list {
        padding: 277px 30px 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .burger__list {
        padding: 98px 30px 0 30px;
    }
}